<!doctype html>
<html>
    <body>
        <p>Уважаемый(-ая) {{ user.username }},</p>
        <p>
            для сброса пароля перейдите
            <a href="{{ url_for('reset_password', token=token, _external=True) }}">
                по этой ссылке
            </a>.
        </p>
        <p>Также можете скопировать и вставить следующий адрес в адресную строку браузера:</p>
        <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
        <p>Если Вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
        <p>С уважением, команда {{ config['APP_NAME'] }}</p>
    </body>
</html>